
html {
  font-size: $font-size-base;
}

body {
  font-family: 'Noto Sans Japanese', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: $font-color-default;
  font-weight: 300;
  line-height: 1em;
  background: #fafafa;
}

a {
  color: #aaa;
  text-decoration: none;
  &:link, &:visited {
    color: #aaa;
  }
}

h1, h2 {
  margin: 0;
  font-weight: 400;
  line-height: 1em;
}

h1 {
  text-align: center;
  @include util-font-size($font-size-xxlarge);
}

h2 {
  margin: 0 0 40px;
  @include util-font-size($font-size-large);
  @include util-breakpoint() {
    @include util-font-size($font-size-xlarge);
  }
  i {
    margin-right: 8px;
  }
}
