@charset "utf-8";

@mixin util-font-size($size: $font-size-middle) {
    $rem: $size / 10;
    font-size: $size + px;
    font-size: $rem + rem;
}

@mixin util-breakpoint($point:$break-point-mb, $min:true) {
    @if $min {
        @media screen and (min-width: $point) { @content; }
    } @else {
        @media screen and (max-width: $point) { @content; }
    }
}
