<% include _header %>
<body>
<div class="wrapper">

  <header>
    <h1>Buttons</h1>
    <p>View Source: <a href="http://codepen.io/maee_co/pen/26f4a9f4f35a849eac6ad057425f3517" target="_blank">CODEPEN</a><br>
      Designed by: <a href="http://maee.co" target="_blank">mae</a>
    </p>
  </header>

  <div class="content">
    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Simple</h2>
      <p>
        <a class="button" href="">Simple</a>
      <p>
    </section>

    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Colors
      </h2>
      <p>
        <a class="button is-pink" href="">Pink</a>
        <a class="button is-lime" href="">Lime</a>
        <a class="button is-cyan" href="">Cyan</a>
        <a class="button is-purple" href="">Purple</a>
      </p>
    </section>

    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Sizes
      </h2>
      <p>
        <a class="button is-small" href="">small</a><br>
        <a class="button" href="">medium</a><br>
        <a class="button is-large" href="">large</a><br>
      </p>
    </section>

    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        with Icon
      </h2>
      <p>
        <a class="button is-small" href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <span>Twitter</span>
        </a>
        <a class="button is-small" href="">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <span>Facebook</span>
        </a>
        <a class="button is-small" href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span>Instagram</span>
        </a>

      </p>
    </section>

    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Loading
      </h2>
      <p>
        <a id="loading" class="button is-cyan is-fix-width" href="">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span>Download</span>
        </a>
      </p>
    </section>


    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Circle
      </h2>
      <p>
        <a class="button-circle is-purple" href=""><span>Circle</span></a>
      </p>
    </section>

    <section>
      <h2>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        Animate
      </h2>
      <p>
        <a id="anime1" class="button-circle animate is-cyan" href=""><span>Anime1</span></a>
        <a id="anime2" class="button animate" href=""><span>Anime2</span></a>
        <a id="anime3" class="button-circle animate  is-lime" href=""><span>Anime3</span></a>
      </p>
    </section>

  </div>
</div>

<% include _footer %>
